<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This website is dedicated to the fans of Jim Carrey. Welcome to the Fan Page of Jim Carrey, the real comedian, actor, impressionist, screenwriter, and film producer. A great superstar. </p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>